{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-shadow": ["warn"],
    "@typescript-eslint/ban-ts-comment": ["warn"],
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "import/no-named-default": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/display-name": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/no-unstable-nested-components": [
      "warn",
      {
        "allowAsProps": true
      }
    ],
    "arrow-body-style": "off",
    "react/button-has-type": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-restricted-exports": "off",
    "@typescript-eslint/no-empty-function": "off",
    "consistent-return": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/order": [
      "warn",
      {
        "groups": [
          "external",
          "internal",
          ["parent", "sibling"],
          "index",
          "type"
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "*.scss",
            "position": "after",
            "group": "sibling",
            "patternOptions": {
              "dot": true,
              "nocomment": true,
              "matchBase": true
            }
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "react/require-default-props": "off",
    "cypress/no-unnecessary-waiting": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.stories.tsx", "**/*.test.{ts,tsx}"] }
    ]
  },
  "settings": {
    "import/internal-regex": "^@components|^@hooks|^@configs|^@utils|^@styles|^@assets|^@store|^@type|^@api|^@Auth|^@Admin|^@Tutor|^@Pupil|^@pages"
  },
  "ignorePatterns": ["webpack.config.js", "src/assets/*", "cypress.config.ts"]
}
